/*
=========================================================================
|                                                                       |
|   Stylesheet pour tablettes avec min-width: 768 et max-width: 991px   |
|                                                                       |
=========================================================================
*/

.mainHaut{
    flex-direction: column-reverse;
}
.populaires{
    width: auto;
    margin: 20px 0;
}
.populairesMarseille{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cartesHebergement{
    width: 47%;
}